.read-more-container
  margin-top: 30px
  overflow: hidden
  line-height: 1.5

// Image section

.images-container
  margin-top: 50px
  overflow: hidden
  ul
    width: 100%
    margin: 0
    padding: 0
    li
      width: 30%
      float: left
      display: inline-block

.images-container-image
  width: 30%
  margin-right: 5%
  img
    max-width: 100%

.last-image
  margin-right: 0

// Added pointer cursor to indicate images can be clicked on to enlarge
.image-container
  cursor: pointer
  height: 150px
  margin-bottom: 20px
  overflow: hidden

// Changed images positioning so they are always centered, regardless of size.
// Added cursor pointer as indication to click on to close
// Lightbox
.lightbox
  background-color: rgba(0,0,0,0.7)
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  .lightboxImage
    cursor: pointer
    margin: auto
    position: absolute
    bottom: 0
    left: 0
    top: 0
    right: 0
    border: 10px solid white