/ Added Doctype and charset
!!! 5

%html
  %head
    %meta{:charset => "utf-8"}
    %title Lonely Planet UI Test
    /[if lt IE 9] I added fallback styling to enable viewing the images larger without the lightbox function
    %noscript
      %link{rel: "stylesheet", href: 'css/fallback.css'} 
    /[endif]
    %link{rel: "stylesheet", href: 'css/style.css'}
    %script{src: '//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'}
    %script{src: 'js/read-more.js'}
    %script{src: 'js/lightbox.js'}

  %body
    = haml :nav
    = yield
    = haml :footer

    